@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

.bg-img{
  background: white;
  display: flex;
  justify-content: center;
  height: 10vw;
  margin-top: 1vw;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 10vw;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.7); */
}
.content{
  position: relative;
  margin-top: 20vw;
  left: 50%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  column-gap: 3vw;
  padding: 25px 20px;
  width: 45vw;
  height: 43vh;
  transform: translate(-50%,-50%);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.header_brand{
  position: absolute;
  top:11vw;
  left: 27.5vw;  
  font-size: 1.5vw;
}
.field{
  position: relative;
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.field label{
  width: 40px;
}
.field input{
  height: 5vh;
  width: 20vw;
 
  outline: none;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}

.space{
  margin-top: 16px;
}
.button_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vw;
  
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.error {
    background-color: #ffc0c7;
    padding: 0.6rem 1.2rem;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
.pass a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: rgb(17, 17, 17);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}

.links{
  display: flex;
  cursor: pointer;
  color: rgb(19, 19, 19);
  margin: 0 0 20px 0;
}
.facebook,.Google{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.Google{
  background: #E1306C;
  border: 1px solid #df2060;
  cursor: pointer;
  font-size: 1.2vw;
}

.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}
.first_column{
  display: flex;
  flex-direction: column;
  row-gap: -2vw;
}