.score-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.answer_container {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
  margin-left: 23vw;
}

.analysis {
  margin: 2vw;
}

.question_container_analysis {
  background-color: aliceblue;
  padding: 2vw;
  padding-left: 3vw;
}
.option.correct {
  background-color: green;
}

.option.wrong {
  background-color: green;
}

.score {
  font-size: 1.5vw;
}
@media screen and (max-width: 768px) {
  .score{
    font-size: 3vw;
  }
  .question_container_analysis {
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
   
  }
}
