/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.full_div{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    width: 100vw;
    height: 93.3vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 0.3vw;
    background: rgb(19, 65, 88);
    padding-top: 0.4vw;
    padding-left: 1vw;
    padding-bottom: 0.4vw;
    height: 4.5vh;
  }

.first_row_div{
    display: flex;
    flex-direction: column;
    width: 98.5vw;
    height: 54vh;
    box-shadow: 0 4px 30px 0 rgba(167, 169, 170, 0.821);
    margin-left: 0.75vw;
    border-radius: 2vh;
    background-color: lightsteelblue;
}
th {
  position: sticky;
  top: 0;
  background: #433b69;
  color: #cac3c3;
}

td {
  text-align: center;
}

.second_row_div{
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
    width: 98.5vw;
    height: 37.3vh;
    box-shadow: 0 4px 30px 0 rgba(139, 161, 172, 0.821);
    margin-left: 0.75vw;
    border-radius: 2vh;
    background-color: rgba(165, 176, 201, 0.821);
}

.invisible_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2vh;
    padding: 0.4vw;
    width: 98.5vw;
    height: 23vh;
    background-color: lightsteelblue;
  }

  .customer_fieldset{
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    margin-top: 0.1vw;
    margin-left: auto;
    margin-right: 0.1vw;
    column-gap: 1vw;
    width: 30vw;
    height: 23vh;
    background-color: white;
    border: 2.7px solid black;
  }

  .customer_inner_div1{
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    width: 30vw;
    height: 5vh;
    background-color: white;
  }

  .customer_inner_div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    width: 30vw;
    height: 15vh;
    background-color: white;
  }

  .customer_inner_div3{
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    padding-left: 1.5vw;
    width: 15vw;
    height: 5vh;
    background-color: white;
  }

  .customer_inner_div4{
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    width: 15vw;
    height: 5vh;
    background-color: white;
  }

  .invisible_div_sale_col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    padding: 0.4vw;
    width: 20vw;
    height: 23vh;
    margin-left: 5vw;
    margin-right: 1vw;
    background-color: lightsteelblue;
  }

  .invisible_div_sale_col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    padding: 0.4vw;
    width: 20vw;
    height: 23vh;
    margin-left: 1vw;
    margin-right: 2vw;
    background-color: lightsteelblue;
  }

  .table_div{
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    margin-left: 0.5vw;
    margin-top: 1vh;
    margin-right: 0.5vw;
    margin-bottom: 1vh;
    padding: 0.4vw;
    width: 97.5vw;
    height: 27vh;
    background-color: white;
  }

  .table_wrapper_hardware_purchase {
    max-height: 300px;
    overflow-y: scroll;
    box-shadow: 0 4px 30px 0 rgba(25, 24, 24, 0.2);
    border-radius: 2vh;
    transition: 0.5s;
    /* margin-left: 2vw; */
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    column-gap: 1vw;
    width: 100vw;
    height: 37vh;
  }
  .total_div{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0.8vw;
    margin-left: auto;
    margin-right: 0.8vw;
    column-gap: 1vw;
    width: 20vw;
    height: 32vh;
    background-color: white;
  }

  .bar_inside_total_div{
    background: rgb(19, 65, 88);
    width: 20vw;
    height: 4.5vh;
    position: absolute;
    bottom: 11vh;
  }

  .input_field_long {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5vw;
  }
  
  .input_field_long input {
    box-shadow: 0 0px 0px 1px rgba(145, 141, 141, 0.5);
    border-radius: 3px;
    grid-column: input;
    align-self: left;
    font-size: 0.7vw;
    background-color: #ffffff;
    width: 18vw;
    height: 3.2vh;
    border: 0.001px solid black;
    border-color: #b1afaf;
    animation: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  .input_field_long label {
    box-shadow: 0 2px 100px 0 rgba(32, 31, 31, 0.5);
    border-radius: 3px;
    grid-column: label;
    align-self: right;
    font-size: 0.7vw;
    padding-left: 0.7vw;
    width: 7vw;
    height: 3.2vh;
    font-weight: bold;
  }

  .input_field_short {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1vh;
  }
  
  .input_field_short input {
    box-shadow: 0 0px 0px 1px rgba(145, 141, 141, 0.5);
    border-radius: 3px;
    grid-column: input;
    align-self: left;
    font-size: 0.7vw;
    background-color: #ffffff;
    width: 6.5vw;
    height: 3.2vh;
    border: 0.001px solid black;
    border-color: #b1afaf;
    animation: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  .input_field_short label {
    box-shadow: 0 2px 100px 0 rgba(32, 31, 31, 0.5);
    border-radius: 3px;
    grid-column: label;
    align-self: right;
    font-size: 0.7vw;
    padding-left: 0.7vw;
    margin-left: 1vw;
    width: 5vw;
    height: 3.2vh;
    font-weight: bold;
  }